body { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.cabecalho {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#apresentacao { 
    line-height: 2;
}

.principal { 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.sobremim { 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


#lista_sumario, #tabela_sumario, #lista_contato { 
    text-align: left;
    align-items: center;
    display: inline-block;
}

#lista_contato { 
    border-spacing: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding: 40px;
}