.titulo { 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#apresentacao { 
    text-align: center;
    line-height: 2;
    font-style: italic;
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
}

.texto1, .texto2 {
    text-align: justify;
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
    font-family: Arial, Helvetica, sans-serif;
}

#final { 
    line-height: 2;
}