.titulo { 
    text-align: center;
}

.texto1 {
    text-align: justify;
    text-align: left;
    margin-left: 450px;
    margin-right: 450px;
}

#apresentacao { 
    text-align: center;
    line-height: 2;
    font-style: italic;
    font-size: smaller;
}

figcaption { 
    font-size: small;
    text-align: center;
    text-align: justify;
}